:root { 
--indigo_A200_e5:#545fe6e5; 
--black_900:#000000; 
--blue_gray_800:#343d4b; 
--blue_gray_900_01:#272e37; 
--blue_gray_900:#222831; 
--white_A700:#ffffff; 
--blue_gray_900_fc:#272d37fc; 
--cyan_200_e5:#90d9e0e5; 
}